body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #c022ec;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}
h1 {
    color: rgba(248, 248, 248, 0.954);
}
p {
    color: #dcefef;
}
.centered {
    position: relative;
    height: 25vh; /* 可以根據需要調整高度 */
  }
  
  #title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
